*{
  background-color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

main{
  margin-top:50px;
}

#comlogo{
  clip-path: circle();
}

#comLogo{
  margin-top: 50px;
}
#movebtn{
  margin-top: 50px;
}

#text{
  margin-top: 50px;
  letter-spacing: 1px;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
}

@keyframes scroll {
  100% {
      transform: translateX(100%);
  }
  0% {
      transform: translateX(-100%);
  }
}

