*{
  background-color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

main{
  margin-top:50px;
}

#comlogo{
  clip-path: circle();
}

#comLogo{
  margin-top: 50px;
}
#movebtn{
  margin-top: 50px;
}

#text{
  margin-top: 50px;
  letter-spacing: 1px;
}